<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="no-js ie6"><![endif]-->
<!--[if IE 7 ]><html class="no-js ie7"><![endif]-->
<!--[if IE 8 ]><html class="no-js ie8"><![endif]-->
<!--[if IE 9 ]><html class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1">
    
      
        <title>Component - CruftEngine</title>
      
      
      
      
    
    <meta property="og:url" content="None">
    <meta property="og:title" content="CruftEngine">
    <meta property="og:image" content="None/../../../">
    <meta name="apple-mobile-web-app-title" content="CruftEngine">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    
    
    <link rel="shortcut icon" type="image/x-icon" href="../../../assets/images/favicon-e565ddfa3b.ico">
    <link rel="icon" type="image/x-icon" href="../../../assets/images/favicon-e565ddfa3b.ico">
    <style>
      @font-face {
      	font-family: 'Icon';
      	src: url('../../../assets/fonts/icon.eot?52m981');
      	src: url('../../../assets/fonts/icon.eot?#iefix52m981')
               format('embedded-opentype'),
      		   url('../../../assets/fonts/icon.woff?52m981')
               format('woff'),
      		   url('../../../assets/fonts/icon.ttf?52m981')
               format('truetype'),
      		   url('../../../assets/fonts/icon.svg?52m981#icon')
               format('svg');
      	font-weight: normal;
      	font-style: normal;
      }
    </style>
    <link rel="stylesheet" href="../../../assets/stylesheets/application-eaf860cca2.css">
    
      
      
      
      
      
      <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Ubuntu:400,700|Ubuntu+Mono">
      <style>
        body, input {
          font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
        }
        pre, code {
          font-family: 'Ubuntu Mono', 'Courier New', 'Courier', monospace;
        }
      </style>
    
    
    <script src="../../../assets/javascripts/modernizr-4ab42b99fd.js"></script>
    
  </head>
  <body>
    
      
      
    
    <div class="backdrop">
      <div class="backdrop-paper"></div>
    </div>
    <input class="toggle" type="checkbox" id="toggle-drawer">
    <input class="toggle" type="checkbox" id="toggle-search">
    <label class="toggle-button overlay" for="toggle-drawer"></label>
    <header class="header">
      <nav aria-label="Header">
  <div class="bar default">
    <div class="button button-menu" role="button" aria-label="Menu">
      <label class="toggle-button icon icon-menu" for="toggle-drawer">
        <span></span>
      </label>
    </div>
    <div class="stretch">
      <div class="title">
        
          <span class="path">
            
              
                classes <i class="icon icon-link"></i>
              
            
          </span>
        
        
          Component
        
      </div>
    </div>
    
    
    <div class="button button-search" role="button" aria-label="Search">
      <label class="toggle-button icon icon-search" title="Search" for="toggle-search"></label>
    </div>
  </div>
  <div class="bar search">
    <div class="button button-close" role="button" aria-label="Close">
      <label class="toggle-button icon icon-back" for="toggle-search"></label>
    </div>
    <div class="stretch">
      <div class="field">
        <input class="query" type="text" placeholder="Search" autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck>
      </div>
    </div>
    <div class="button button-reset" role="button" aria-label="Search">
      <button class="toggle-button icon icon-close" id="reset-search"></button>
    </div>
  </div>
</nav>
    </header>
    <main class="main">
      
      <div class="drawer">
        <nav aria-label="Navigation">
  
  <a href="https://github.com/mjneil/CruftEngine" class="project">
    <div class="banner">
      
      <div class="name">
        <strong>CruftEngine </strong>
        
          <br>
          mjneil/CruftEngine
        
      </div>
    </div>
  </a>
  <div class="scrollable">
    <div class="wrapper">
      
        <ul class="repo">
          <li class="repo-download">
            
            <a href="https://github.com/mjneil/CruftEngine/archive/master.zip" target="_blank" title="Download CruftEngine from GitHub" data-action="download">
              <i class="icon icon-download"></i> Download
            </a>
          </li>
          <li class="repo-stars">
            <a href="https://github.com/mjneil/CruftEngine" target="_blank" title="Star CruftEngine on GitHub" data-action="star">
              <i class="icon icon-star"></i> Star
              <span class="count">&ndash;</span>
            </a>
          </li>
        </ul>
        <hr>
      
      <div class="toc">
        <ul>
          
            
  <li>
    <a class="" title="Home" href="../../..">
      Home
    </a>
    
  </li>

          
            
  <li>
    <a class="" title="core" href="../core/">
      core
    </a>
    
  </li>

          
            
  <li>
    <a class="" title="math" href="../../math/math/">
      math
    </a>
    
  </li>

          
            
  <li>
    <span class="section">classes</span>
    <ul>
      
        
  <li>
    <a class="" title="Actor" href="../Actor/">
      Actor
    </a>
    
  </li>

      
        
  <li>
    <a class="current" title="Component" href="./">
      Component
    </a>
    
      
      
        <ul>
          
        </ul>
      
    
  </li>

      
        
  <li>
    <a class="" title="ActorFactory" href="../ActorFactory/">
      ActorFactory
    </a>
    
  </li>

      
        
  <li>
    <a class="" title="Scheduler" href="../Scheduler/">
      Scheduler
    </a>
    
  </li>

      
        
  <li>
    <a class="" title="vec2" href="../../math/vec2/">
      vec2
    </a>
    
  </li>

      
        
  <li>
    <a class="" title="vec3" href="../../math/vec3/">
      vec3
    </a>
    
  </li>

      
        
  <li>
    <a class="" title="mat3" href="../../math/mat3/">
      mat3
    </a>
    
  </li>

      
        
  <li>
    <a class="" title="mat4" href="../../math/mat4/">
      mat4
    </a>
    
  </li>

      
    </ul>
  </li>

          
        </ul>
        
      </div>
    </div>
  </div>
</nav>
      </div>
      <article class="article">
        <div class="wrapper">
          
            
              <h1>Component</h1>
            
          
          
          <aside class="copyright" role="note">
            
            Documentation built with
            <a href="http://www.mkdocs.org" target="_blank">MkDocs</a>
            using the
            <a href="http://squidfunk.github.io/mkdocs-material/" target="_blank">
              Material
            </a>
            theme.
          </aside>
          
            <footer class="footer">
              
  <nav class="pagination" aria-label="Footer">
    <div class="previous">
      
        <a href="../Actor/" title="Actor">
          <span class="direction">Previous</span>
          <div class="page">
            <div class="button button-previous" role="button" aria-label="Previous">
              <i class="icon icon-back"></i>
            </div>
            <div class="stretch">
              <div class="title">
                Actor
              </div>
            </div>
          </div>
        </a>
      
    </div>
    <div class="next">
      
        <a href="../ActorFactory/" title="ActorFactory">
          <span class="direction">Next</span>
          <div class="page">
            <div class="stretch">
              <div class="title">
                ActorFactory
              </div>
            </div>
            <div class="button button-next" role="button" aria-label="Next">
              <i class="icon icon-forward"></i>
            </div>
          </div>
        </a>
      
    </div>
  </nav>

            </footer>
          
        </div></article>
      <div class="results" role="status" aria-live="polite">
        <div class="scrollable">
          <div class="wrapper">
            <div class="meta"></div>
            <div class="list"></div>
          </div>
        </div>
      </div>
    </main>
    <script>
      var base_url = '../../..';
      var repo_id  = 'mjneil/CruftEngine';
    </script>
    <script src="../../../assets/javascripts/application-a10a824a49.js"></script>
    
    
  </body>
</html>